<div
  (click)="joinRoom.emit(room())"
  class="card card-transition card-base relative overflow-hidden h-64 min-w-56 cursor-pointer"
>
  <img
    alt="bg"
    class="absolute bottom-0 left-0 w-full opacity-60 dark:opacity-40"
    src="/assets/images/4-in-a-row.png"
  />
  <div
    class="card-body z-10 bg-gradient-to-br from-base-200 via-base-200/80 to-transparent"
  >
    <div class="card-title">{{ room().name }}</div>
    <div class="badge badge-primary badge-outline">{{ room().game }}</div>
    <div class="card-actions mt-auto">
      Hosted by
      <span class="text-primary font-medium">{{ getHost() }}</span>
    </div>
  </div>
</div>
