<h1 class="uppercase">Forza 4</h1>

<div class="scores">
  <div>Punteggio Giocatore 1: {{ playerOneScore }}</div>
  <div>Punteggio Giocatore 2: {{ playerTwoScore }}</div>
  <br />
  <div>
    Is <b>{{ currentPlayer === 1 ? "Red" : "Yellow" }}</b
    >'s turn
  </div>

</div>
<div class="controls">
  <button (click)="restartGame()">
    {{ isMatchOver ? "New Game" : "Restart Game" }}
  </button>
</div>
<div class="flex items-center justify-center" *ngIf="gameReady">
  <div class="card bg-base-200 shadow-xl" *ngIf="isMatchOver">
    <div class="card-body">
      <div class="card-title">Board settings</div>

      <div class="font-bold">Sizing</div>
      <div class="flex gap-2">
        <div class="form-control">
          <label>Rows</label>
          <input class="input input-primary" type="number" [(ngModel)]="rows" />
        </div>
        <div class="form-control">
          <label>Columns</label>
          <input class="input input-primary" type="number" [(ngModel)]="cols" />
        </div>
      </div>
      <div class="card-actions justify-end">
        <button class="btn" (click)="initializeBoard()">Save</button>
      </div>
    </div>
  </div>
  </div>


<div class="flex items-center justify-center" *ngIf="gameReady">
  <div class="board shadow-xl">
    <div *ngFor="let row of board; let i = index" class="row">
      <div
        *ngFor="let cell of row; let j = index; trackBy: trackByCell"
        class="cell"
        (click)="makeMove(j)"
        [ngStyle]="{ '--row': board.length - i }"
      >
        <div
          class="token"
          *ngIf="cell !== 0"
          [ngClass]="{
            'player-one-token': cell === 1,
            'player-two-token': cell === 2
          }"
        >
          <span class="inner-circle"></span>
        </div>
      </div>
    </div>
  </div>
</div>
