<!-- Toolbar -->
<app-navbar>
  <div class="flex items-center gap-4">
    <!-- Title -->
    <h1 class="text-4xl font-bold uppercase">Lobbies</h1>

    <!-- Actions -->
    <button class="btn btn-square ml-auto text-xl">
      <fa-icon [icon]="faCog"></fa-icon>
    </button>

    <button class="btn btn-error btn-square text-xl">
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
    </button>
  </div>
</app-navbar>

<!-- Rooms Grid -->
<app-container>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10"
  >
    <!-- New Room Card -->
    <div
      (click)="createRoom()"
      class="card card-base card-transition h-64 min-w-56 cursor-pointer grid place-items-center"
    >
      <fa-icon [icon]="faPlus" class="text-6xl"></fa-icon>
    </div>

    <!-- Open Rooms Cards -->
    @for (room of rooms; track room.id) {

    <app-room-card></app-room-card>

    }
  </div>
</app-container>

<!-- Join Modal -->
<ng-template #join>
  <div class="text-lg">Do you want to join the room?</div>
</ng-template>

<!-- New Room Modal -->
<ng-template #newRoom>
  <!-- Room Name -->
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Room Name</span>
    </div>
    <input
      type="text"
      placeholder="Type here"
      class="input input-bordered w-full"
    />
  </label>

  <!-- Game Selection -->
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Pick the game to play</span>
    </div>
    <select class="select select-bordered">
      <option disabled selected>4 in a row</option>
    </select>
  </label>
</ng-template>
