/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card-base {
  @apply bg-gradient-to-br from-base-300 to-base-200 border border-base-300 shadow-xl;
}
.card-transition {
  @apply hover:shadow-2xl hover:-translate-y-2 transition-all duration-200 ease-in-out;
}
